:root {
  --base-50: oklch(0.991 0.0016 54.37);
  --base-100: oklch(0.9753 0.0032 55.37);
  --base-200: oklch(0.9274 0.0063 55.66);
  --base-300: oklch(0.8725 0.0095 56.31);
  --base-400: oklch(0.7114 0.0113 56.21);
  --base-500: oklch(0.5545 0.0123 58.02);
  --base-600: oklch(0.4449 0.012 59.58);
  --base-700: oklch(0.3745 0.011 58.5);
  --base-800: oklch(0.2682 0.0095 56.24);
  --base-900: oklch(0.194 0.0063 55.99);
  --base-950: oklch(0.1471 0.0047 54.2);
  --base-1000: oklch(0.1021 0.0032 54.78);

  --background: var(--color-white);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--base-950);
  --primary-foreground: var(--color-white);
  --secondary: var(--base-100);
  --secondary-foreground: var(--base-800);
  --muted: var(--base-50);
  --muted-foreground: var(--base-600);
  --accent: var(--base-50);
  --accent-foreground: var(--base-800);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--base-950);
  --chart-1: var(--base-950);
  --chart-2: var(--base-500);
  --chart-3: var(--base-700);
  --chart-4: var(--base-400);
  --chart-5: var(--base-600);
  --radius: 0.5rem;
  --sidebar: var(--base-100);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--base-950);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--base-200);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--base-950);
}

.dark {
  --background: var(--base-950);
  --foreground: var(--base-200);
  --card: var(--base-950);
  --card-foreground: var(--base-200);
  --popover: var(--base-950);
  --popover-foreground: var(--base-200);
  --primary: var(--base-50);
  --primary-foreground: var(--base-900);
  --secondary: var(--base-800);
  --secondary-foreground: var(--base-200);
  --muted: var(--base-900);
  --muted-foreground: var(--base-400);
  --accent: var(--base-900);
  --accent-foreground: var(--base-200);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--base-800);
  --input: var(--base-700);
  --ring: var(--base-50);
  --chart-1: var(--base-50);
  --chart-2: var(--base-400);
  --chart-3: var(--base-200);
  --chart-4: var(--base-500);
  --chart-5: var(--base-300);
  --sidebar: var(--base-900);
  --sidebar-foreground: var(--base-200);
  --sidebar-primary: var(--base-50);
  --sidebar-primary-foreground: var(--base-900);
  --sidebar-accent: var(--base-800);
  --sidebar-accent-foreground: var(--base-200);
  --sidebar-border: var(--base-800);
  --sidebar-ring: var(--base-50);
}

@theme inline {
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
