/* Feedback Colors based on https://www.radix-ui.com/colors/custom */
:root {
  --color-destructive: #fe4e54e4;
  --color-destructive-foreground: #f4121209;
  --color-warning: #ffe629;
  --color-warning-foreground: #d1510004;
  --color-success: #44ffa49e;
  --color-success-foreground: #00de4505;
  --color-info: #0090ff;
  --color-info-foreground: #004df211;
}

@theme inline {
  --color-destructive: var(--color-destructive);
  --color-destructive-foreground: var(--color-destructive-foreground);
  --color-warning: var(--color-warning);
  --color-warning-foreground: var(--color-warning-foreground);
  --color-success: var(--color-success);
  --color-success-foreground: var(--color-success-foreground);
  --color-info: var(--color-info);
  --color-info-foreground: var(--color-info-foreground);
}
