@layer base {
  :root {
    --scrollbar-width: 6px;
    --scrollbar-bg: var(--color-muted);
    --scrollbar-thumb-bg: var(--color-foreground);
  }

  /* Apply custom scrollbar only on non-touch devices */
  @media (hover: hover) and (pointer: fine) {
    html,
    body {
      &::-webkit-scrollbar {
        width: var(--scrollbar-width);
        height: 6px;
        background: var(--scrollbar-bg);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-bg);
        border-radius: 999px;
        border: 2px solid var(--scrollbar-thumb-bg);
        opacity: 0.5;
      }

      &::-webkit-scrollbar-corner,
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      scrollbar-width: thin;
      scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-bg);
    }

    /* Hide horizontal scrollbar in body specifically */
    body::-webkit-scrollbar:horizontal {
      height: 0;
    }
  }

  /* Disable scrolling globally when needed */
  :root:has(.disable-scroll) {
    overflow: hidden;
  }
}
